<select>
<option hisname="Assalamualaikum.." msg="Happy Birthday #SAHABATKU, Semoga Panjang Umur, Sehat Selalu, Makin Dewasa dan Rajin Ibadah, Serta Harapan2nya sll tercapai,amin ^_^" sender="From :  ALsyan"  src2="http://1.s3.envato.com/files/22579435/images/facebook.png" 
 value2="facebook.com/onix.olala" /> 
</select>
